/* .footer {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: var(--dark-bg-color);
}

.footer__wrapper {
   display: flex;
   align-items: baseline;
} */

/* .footer__info {
   margin-right: 70px;
} */

/* .footer__logo {
   display: inline-block;
   margin-bottom: 20px;

   font-family: var(--logo-font);
   color: var(--main-light);
   font-weight: 700;
   font-size: 26px;
   text-decoration: none;
   line-height: 1.2;
} */

/* .footer__list-item {
   width: 231px;
   margin-bottom: 9px;
}

.footer__list-item:last-child {
   margin-bottom: 0;
}

.footer__addres {
   margin-bottom: 9px;

   font-weight: 400;
   font-size: 14px;
   color: var(--main-light);
   text-decoration: none;
   font-style: normal;
   line-height: 1.7;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact {
   margin-bottom: 9px;

   color: var(--footer-contact-color);
   font-weight: 400;
   font-size: 14px;
   text-decoration: none;
   font-style: normal;
   line-height: 1.7;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__addres:hover,
.footer__addres:focus,
.footer__contact:hover,
.footer__contact:focus {
   color: var(--hover-focus-color);
} */

/* .join {
   margin-right: 93px;
}

.join__title {
   margin-bottom: 20px;

   color: var(--main-light);
   font-weight: 700;
   font-size: 14px;
   line-height: calc(16 / 14);
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.join__socials {
   display: flex;
   gap: 10px;

   justify-content: center;

   list-style: none;
}

.join__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   color: var(--main-light);
   background-color: var(--soc-bg-footer);
   border-radius: 50%;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover,
.join__link:focus {
   background-color: var(--hover-focus-color);
}

.join__icon {
   fill: currentColor;
} */

/* ============ Форма рассылки ============ */

/* .distribution__title {
   margin-bottom: 20px;

   color: var(--main-light);
   font-weight: 700;
   font-size: 14px;
   line-height: calc(16 / 14);
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.distribution__form {
   position: relative;
}

.distribution__input {
   width: 358px;
   height: 50px;
   padding: 15px 16px;
   background: transparent;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   color: var(--hover-focus-color);
   margin-right: 12px;
}

.distribution__input:focus {
   border: 1px solid var(--hover-focus-color);
   outline: none;
}

.distribution__label {
   position: absolute;
   top: 50%;
   left: 16px;
   transform: translateY(-50%);

   color: var(--footer-contact-color);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.distribution__input:focus + .distribution__label,
.distribution__input:not(:placeholder-shown) + .distribution__label {
   transform: translateY(50px) scale(1.2);
}
.distribution__submit-button {
   display: inline-flex;

   padding: 10px 28px;

   color: var(--main-light);
   font-size: 16px;
   font-weight: 400;
   border: none;
   letter-spacing: 0.06em;
   line-height: calc(30 / 16);
   cursor: pointer;

   background-color: var(--hover-focus-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
}

.distribution__submit-icon {
   margin-left: 10px;

   width: 24px;
   height: 24px;
   fill: currentColor;
} */
