.container-f {
   width: 1200px;
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   margin-bottom: 0;
   display: flex;
}

.footer {
   background-color: var(--dark-bg-color);
   padding-top: 60px;
   padding-bottom: 60px;
}

.footer-info {
   margin-right: 70px;
}

.logo-footer {
   font-family: var(--logo-font);
   color: var(--main-light);
   font-weight: 700;
   font-size: 26px;
   text-decoration: none;
   line-height: 1.2;

   margin-bottom: 20px;
}

.accent {
   color: var(--hover-focus-color);
}

.menu {
   list-style: none;
   padding: 0;

}

.menu-link-footer {
   margin-bottom: 9px;
   width: 231px;
}

.menu-link-footer:last-child {
   margin-bottom: 0;
}

.address-footer {
   margin-top: 20px;
}

.addres {
   font-weight: 400;
   font-size: 14px;
   color: var(--main-light);
   text-decoration: none;
   font-style: normal;
   line-height: 1.7;
   margin-bottom: 9px;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addres:hover,
.addres:focus {
   color: var(--hover-focus-color);
}

.contact-footer {
   color: var(--footer-contact-color);
   font-weight: 400;
   font-size: 14px;
   text-decoration: none;
   font-style: normal;
   line-height: 1.7;
   margin-bottom: 9px;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer:hover,
.contact-footer:focus {
   color: var(--hover-focus-color);
}

.join {
   color: var(--main-light);
   font-weight: 700;
   font-size: 14px;
   line-height: calc(16 / 14);
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin-right: 93px;
}

.joinus {

   margin-bottom: 20px;
}

.social-ul-footer {
   display: flex;
   gap: 10px;
   padding: 0;
   justify-content: center;

   list-style: none;
}

.socials-link-footer {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   color: var(--main-light);
   background-color: var(--soc-bg-footer);
   border-radius: 50%;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
   background-color: var(--hover-focus-color);
}

.social-icon-footer {
   fill: currentColor;
}

.div-wrapper {
   display: flex;
   align-items: baseline;
}

/* ============ Форма рассылки ============ */

.mail-input {
   width: 358px;
   height: 50px;
   padding: 15px 16px;
   background: transparent;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   color: var(--hover-focus-color);
   margin-right: 12px;
}

.mail {
   position: relative;
}

.mail-label {
   position: absolute;
   top: 50%;
   left: 16px;
   transform: translateY(-50%);

   color: var(--footer-contact-color);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-input:focus {
   border: 1px solid var(--hover-focus-color);
   outline: none;
}


.mail-input:focus + .mail-label,
.mail-input:not(:placeholder-shown) + .mail-label {
   transform: translateY(50px) scale(1.2);
}
.submit-button {
   display: inline-flex;
   justify-content: center;
   align-items: center;

   padding: 10px 28px;

   color: var(--main-light);
   font-size: 16px;
   font-weight: 400;
   border: none;
   letter-spacing: 0.06em;
   line-height: calc(30 / 16);
   cursor: pointer;

   background-color: var(--hover-focus-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;

   fill: var(--main-light);
}

.submit-icon {
   margin-left: 10px;

   width: 24px;
   height: 24px;
   fill: currentColor;
}
