:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --main-light: #ffffff;
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --hover-focus-color: #2196f3;
  --footer-contact-color: #ffffff99;
  --dark-bg-color: #2f303a;
  --btn-active: #188ce8;
  --border-color: #eeeeee;
  --bg-ourteam: #f5f4fa;
  --svg-color: #afb1b8;
  --soc-bg-footer: rgba(255, 255, 255, 0.1);
}

header {
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-right: 316px;
}

.header__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-font-color);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.4;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--hover-focus-color);
}
.header__link::after {
  position: absolute;
  left: 0;
  bottom: -2.7px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-focus-color);
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.header__link.current {
  position: relative;
  color: var(--hover-focus-color);
}
.header__link.current::before {
  position: absolute;
  bottom: -2.7px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--hover-focus-color);
  border-radius: 2px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-font-color);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.4;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact:hover, .header__contact:focus {
  color: var(--hover-focus-color);
}

.hero-section {
  background-color: var(--dark-bg-color);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/home/hero-bg-opt.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/home/hero-bg-opt.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-section__title {
  display: block;
  margin: 0 auto 30px;
  width: 696px;
  color: var(--main-light);
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.36;
}

.hero-section__button {
  padding: 10px 32px;
}
.hero-section__button:hover, .hero-section__button:focus {
  background-color: var(--btn-active);
}

.our-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.our-features__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-ourteam);
  border-radius: 4px;
}
.our-features__title {
  margin-bottom: 10px;
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
}
.our-features__text {
  color: var(--secondary-font-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.what-we-are-doing {
  padding-bottom: 94px;
}
.what-we-are-doing .what-are-we-doing__title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.what-we-are-doing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.what-we-are-doing__thumb {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.what-we-are-doing__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light);
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-ourteam);
}
.our-team__title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.our-team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.our-team__card-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-light);
  border: 1px solid var(--border-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__name {
  margin-bottom: 10px;
  color: var(--main-font-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
}
.our-team__profession {
  margin-bottom: 16px;
  text-align: center;
  color: var(--secondary-font-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients__title {
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  color: var(--svg-color);
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  -webkit-transition: color, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__box .clients__link:hover, .clients__box .clients__link:focus {
  color: var(--hover-focus-color);
  border: 1px solid var(--hover-focus-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  height: 581px;
  width: 528px;
  padding: 40px;
  background-color: var(--main-light);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--hover-focus-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.modal__label {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-font-color);
}

.modal__label-name {
  display: block;
  margin-bottom: 4px;
}

.modal__input-wrapper {
  position: relative;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border: 1px solid var(--hover-focus-color);
  outline: none;
}
.modal__input:focus + .modal__svg {
  fill: var(--hover-focus-color);
}

.modal__svg {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  fill: var(--main-font-color);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea:focus {
  border: 1px solid var(--hover-focus-color);
  outline: none;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
  margin-bottom: 30px;
}

.agreement__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--main-font-color);
  border-radius: 2px;
  -webkit-transition: border, background-image, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border, background-image, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden:checked + .agreement__checkbox-icon {
  background-color: var(--hover-focus-color);
  background-image: url(../img/icons/icon-check.svg);
  border: 2px solid transparent;
  background-size: contain;
  background-origin: border-box;
}

.agreement__terms {
  position: relative;
  margin-left: 5px;
  line-height: 1;
  text-decoration: none;
  color: var(--hover-focus-color);
}
.agreement__terms::before {
  position: absolute;
  bottom: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--hover-focus-color);
}

.modal__submit-button {
  padding: 10px 52px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.portfolio__card-description {
  position: absolute;
  width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--main-light);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}
.portfolio__card-bg {
  background-color: var(--main-light);
  border: 1px solid var(--border-color);
  padding: 20px 24px;
}
.portfolio-card__name {
  margin-bottom: 4px;
  color: var(--main-font-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.portfolio-card__text {
  color: var(--secondary-font-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
}

.portfolio__button {
  padding: 6px 25px;
  color: var(--main-font-color);
  background-color: var(--bg-ourteam);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.625;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: color, background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: color, background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
  transition: color, background-color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow;
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--hover-focus-color);
  color: var(--main-light);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__card-link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card-link:hover, .portfolio__card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__card-link:hover .portfolio__card-overlay::before, .portfolio__card-link:focus .portfolio__card-overlay::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.portfolio__card-link:focus .portfolio__card-description, .portfolio__card-link:hover .portfolio__card-description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.portfolio__card-overlay::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: color, opacity, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, opacity, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.button {
  display: block;
  margin: 0 auto;
  color: var(--main-light);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.875;
  cursor: pointer;
  background-color: var(--hover-focus-color);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__logo {
  font-family: var(--logo-font);
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--logo-font);
  color: var(--main-light);
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
}

.accent {
  color: var(--hover-focus-color);
}

.icon {
  fill: currentColor;
}

.our-team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.our-team__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: var(--svg-color);
  background-color: var(--main-light);
  border-radius: 50%;
  -webkit-transition: color, background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color, background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__link:hover, .our-team__link:focus {
  color: var(--main-light);
  background-color: var(--hover-focus-color);
}

.footer__info {
  margin-right: 70px;
}

.footer__list-item {
  width: 231px;
  margin-bottom: 9px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__addres {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  color: var(--main-light);
  text-decoration: none;
  font-style: normal;
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__addres:hover, .footer__addres:focus {
  color: var(--hover-focus-color);
}

.footer__contact {
  margin-bottom: 9px;
  color: var(--footer-contact-color);
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:hover, .footer__contact:focus {
  color: var(--hover-focus-color);
}

.join {
  margin-right: 93px;
}
.join__title {
  margin-bottom: 20px;
  color: var(--main-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.join__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.join__icon {
  fill: currentColor;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--main-light);
  background-color: var(--soc-bg-footer);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background-color: var(--hover-focus-color);
}

.distribution__title {
  margin-bottom: 20px;
  color: var(--main-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.distribution__form {
  position: relative;
}

.distribution__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--hover-focus-color);
  margin-right: 12px;
}

.distribution__input:focus {
  border: 1px solid var(--hover-focus-color);
  outline: none;
}

.distribution__label {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--footer-contact-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.distribution__input:not(:-moz-placeholder-shown) + .distribution__label {
  transform: translateY(50px) scale(1.2);
}

.distribution__input:not(:-ms-input-placeholder) + .distribution__label {
  transform: translateY(50px) scale(1.2);
}

.distribution__input:focus + .distribution__label,
.distribution__input:not(:placeholder-shown) + .distribution__label {
  -webkit-transform: translateY(50px) scale(1.2);
          transform: translateY(50px) scale(1.2);
}

.distribution__submit-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 28px;
  color: var(--main-light);
  font-size: 16px;
  font-weight: 400;
  border: none;
  letter-spacing: 0.06em;
  line-height: 1.875;
  cursor: pointer;
  background-color: var(--hover-focus-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.distribution__submit-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */