.our-team__socials {
   display: flex;
   justify-content: center;
   gap: 10px;
}

.our-team__social-item {
   display: flex;
}

.our-team__link {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 44px;
   height: 44px;

   color: var(--svg-color);
   background-color: var(--main-light);
   border-radius: 50%;

   transition: color, background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: var(--main-light);
      background-color: var(--hover-focus-color);
   }
}
