.hero-section {
   background-color: var(--dark-bg-color);
   width: 1600px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 200px;
   padding-bottom: 200px;
   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/home/hero-bg-opt.jpg);
   background-repeat: no-repeat;
   background-position: center;
}

.hero-section__title {
   display: block;
   margin: 0 auto 30px;

   width: 696px;

   color: var(--main-light);
   font-weight: 900;
   font-size: 44px;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   text-align: center;
   line-height: 1.36;
}

.hero-section__button {
   padding: 10px 32px;

   &:hover,
   &:focus {
      background-color: var(--btn-active);
   }
}
